{% load static %}
<html>
    <head>
        <title>YKEA HOME</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
                
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                
                <!-- Latest compiled and minified JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                
                <script type="text/javascript">
                    $(document).ready(function() {
                                      $('#checkin').each(function() {
                                                         var elem = $(this);
                                                         setInterval(function() {
                                                                     if (elem.css('background-color') == 'transparent') {
                                                                     elem.css('background-color', 'green');
                                                                     } else {
                                                                     elem.css('background-color', 'transparent');
                                                                     }
                                                                     }, 500);
                                                         });
                                      });
                    </script>
                </head>
    <body>
        <!-- Top menu -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/ykea"><img class="logo" src="{% static 'images/Logo.png' %}" alt="YKEA"></a>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/ykea">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Categories
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% if categories %}
                                {% for cat in categories %}
                                <li><a href="{% url 'items' cat.0%}" >{{cat.1}}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'shoppingcart' %}">Cart</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}} ({{money}}€)<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/accounts/logout">Log Out</a></li>
                                <li><a href="/ykea/bought">Purchases</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="/accounts/login">Login</a></li>
                        <li><a href="/ykea/register/">Register</a></li>
                        {% endif%}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        <!-- Page content -->
        
        <!-- Header Image -->
        <div class="headerImageDiv" id="headerImageDiv2">
            
        </div>
        
        <!-- Main Div -->
        <div class="mainDiv">
            
                <div>
                    Categoria:
                    <select class="form-control" id="categoria">
                        {% for dic in category %}
                        <option>{{dic.category}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
                <div>
                    Precio:
                    <input class="form-control" type="number" value="0" min="0" id="precio"/>
                </div>
                <br/>
                <div>
                    Nuevo?
                    <input type=checkbox id="nuevo" value="yes"/>
                </div>
                <br/>
                <div>
                    <input type="button" onclick="myFunction()" name="search" value="Compara">
                        </div>
                
                <p id="demo"></p>
                <div>
                    Productos aqui:
                    <form action="{% url 'shoppingcart' %}" method="post">
                        {% csrf_token %}
                        <div id="productos"></div>
                        <input class="btn btn-primary center-block" type="submit" value="Add to Shopping cart" name="addshop"/>
                    </form>
                </div>
                
                <script>
                    function myFunction() {
                        //alert("entro");
                        
                        var requests = [];
                        var results = [];
                        
                        var ips = ['localhost:8000'];
                        //var ips= ['sd2018ykea-b5.herokuapp.com']
                        
                        var categoria = $('#categoria').val();
                        var precio = $('#precio').val();
                        var nuevo = $('#nuevo')[0].checked;
                        
                        if(nuevo)
                        nuevo='true';
                        else
                        nuevo='false';
                        
                        for(var i=0;i<ips.length; i++){
                            requests.push(
                                          $.ajax(
                                                 {
                                                 url:'http://localhost:8000/api/items/?category='+categoria+'\&new='+nuevo+'\&price='+precio,
                                                 /*
                                                  * URL para localhost
                                                  * url:'http://'+ips[i]+'/api/items/?category='+categoria+'\&new='+nuevo+'\&price='+precio
                                                  */
                                                 type:'GET',
                                                 dataType:'json',
                                                 success:[function(data){
                                                          //alert("entro success");
                                                          for(var j=0;j<data['results'].length;j++){
                                                          results.push(data['results'][j]);
                                                          }
                                                          }]
                                                 }
                                                 )
                                          );
                        }
                        
                        $.when.apply($,requests).then(function(){
                                                      
                                                      var res = document.getElementById("productos").innerHTML;
                                                      res = "";
                                                      if(results.length > 0) {
                                                      res += "<h4> Items:</h4>";
                                                      res += '<h4>Precio:'+document.getElementById("precio").value+'</h4>';
                                                      res += '<h4>Categoria:'+document.getElementById("categoria").value+'</h4>';
                                                      res += '<h4>Nuevo:'+document.getElementById("nuevo").checked+'</h4>';


                                                      
                                                      res += "<ul>";
                                                      results.sort(function (a, b) {
                                                                   return parseFloat(a.price) - parseFloat(b.price);
                                                                   });
                                                      for (var i = 0; i < results.length; i++) {
                                                        if(results[i]['category']==document.getElementById("categoria").value && parseFloat(results[i]['price'])<=parseFloat(document.getElementById("precio").value) && results[i]['is_new']==document.getElementById("nuevo").checked ) {
                                                            res += '<li>' + results[i]['name'] + ' - ' + results[i]['price'] + '€' + '- <input type="checkbox" name="checkbox'+results[i]['item_number']+'" id="checkbox'+results[i]['item_number']+'" value="'+results[i]['item_number']+'"/></li>';
                                                        }
                                                      }
                                                      res += "</ul>";
                                                      }
                                                      else{
                                                      res += "<h4>No hay items que comparar</h4>";
                                                      }
                                                      document.getElementById("productos").innerHTML = res;
                                                      })
                    }
                </script>
                
            </div>


    </body>
</html>

